/* 📘 these styles map material web to VSCode */

:root {
  /* --md-ref-typeface-brand: var(--vscode-editor-font-family);
        --md-ref-typeface-plain: var(--vscode-editor-font-family); */

  --md-sys-color-primary: var(--vscode-charts-blue);
  --md-sys-color-on-primary: var(--vscode-editor-foreground);
  --md-sys-color-secondary: var(--vscode-charts-orange);
  --md-sys-color-on-secondary: var(--vscode-editor-foreground);
  --md-sys-color-tertiary: var(--vscode-charts-yellow);
  --md-sys-color-on-tertiary: var(--vscode-editor-foreground);

  --md-sys-color-error: var(--vscode-editor-foreground);

  --md-sys-color-background: var(--vscode-editor-background);

  --md-sys-color-on-surface: var(--vscode-editor-foreground);
  --md-sys-color-on-surface-variant: var(--vscode-editor-foreground);
}
